*{
    margin:0;
}
/*///////// Header Inicio////////*/
.navbar-brand {
    font-size: 23px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    text-shadow: 0px 0px 5px black !important;
}

.navbar-brand span {
    color: black;
    text-shadow: 0px 0px 5px white !important;
}

button i {
    font-size: 25px !important;
}

div ul li a {
    font-size: 18px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;

}

.jumbotron {
    box-sizing: border-box;
    background-image: url(./img/nyc-4854718_1920.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 690px;
}

.container h1 {
    font-size: 50px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    text-shadow: 0px 0px 9px black !important;
    color: #17a2b8;
}

.container h1 span {
    color: black;
}

.container p {
    font-size: 20px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    text-shadow: 0px 0px 5px black !important;
    color: white;
}


/*///////// Header Fin////////*/
/*///////// Main Inicio////////*/
.servicios {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: auto;
}

.servicios div {
    text-align: center;
    border: 1px grey solid;
    border-left: none;
    border-right: none;
    padding: 50px;
    background-color: rgb(196, 200, 203);
}

.servicios div a {
    text-decoration: none;
    color: black;
    font-size: 29px;
}

.servicios div:hover {
    transform: scale(1.09);
    transition: all 3s;
}

/*///////// Main Fin////////*/

/*///// section.index inicia/////////*/

.carousel__caja{

    width: 100%;
    height:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background-color: #050505;
}

.carousel__titulo{
    padding: 30px;
    width: 100%;
    text-decoration: underline;
    text-align: center;
    background-color: #17a2b8;
    color: white;

}

.venta{
    padding: 70px;
    width: 100%;
    text-align: center;
    display: grid;
    border: 2px solid rgb(5, 5, 5);
    background-color: #050505;
}

.venta__titulo{
    letter-spacing: normal;
    color: #17a2b8;

}
.venta__descripcion{
    text-align: initial;
    letter-spacing: normal;
    color: #333;
}
.valor__propiedad{
    text-decoration: none;
    text-align: center;
    padding: 5px;
    letter-spacing: normal;
    color: #333;
    background-color: #17a2b8;
    font-size: 15px;

}
.valor__propiedad:hover{
    text-decoration: none;
    transition: all 0.3s;
    transform: scale(1.09);
}

.img__carrousel{
    background-position: center;
    background-size: cover;
    border-radius: 5px;

}

.img1{
    background-image: url(./img/casa1.jpg);
}
.img2{
    background-image: url(./img/casa2.jpg);
}
.img3{
    background-image: url(./img/casa3.jpg);
}


/*///// section.index fin/////////*/

/*///////// Footer Inicio////////*/

footer {

    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footerCaja {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly !important;
}

footer h3 {

    color: #fff;
    font-size: 22px;
    text-align: center;
}

footer div ul li a {

    color: #fff;
    font-size: 18px !important;
}

footer p {

    font-size: 18px;
}

.container p {
    color: #17a2b8;
    font-size: 17px !important;
    text-align: center;
}

.footerSuscribirse {
    padding: 20px;
}

.footerSuscribirse p {
    text-align: start;


}

footer input[type="email"] {

    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    text-align: start;
}

footer button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 13px;
}

div div p {
    text-align: center;
}

div div div {
    width: 100%;
    height: auto;
    text-align: justify;
    color: #17a2b8;
    display: flex;
    justify-content: center;
    font-size: 25px;
    letter-spacing: 1em !important;

}

/*///////// Footer Fin////////*/

/*////Main Nosotros Inicia/////*/
.containerN {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: #aad5db;
}

.containerN .img {
    background-image: url(./img/equipo.jpg);
    background-position: center;
    background-size: cover;
}

.containerN .descripcion p {
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: black !important;
    text-shadow: none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containerN .descripcion h3 {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.nuestraMision {
    width: 100%;
    align-items: center;
    text-align: center;

}

.nuestraMision h3 {
    width: 100%;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
    color: #007bff;
}

.nuestraMision p {
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

/*////Main Nosotros Fin/////*/


/*//// Section Inicia Contacto///*/
body {
    background-color: #46a6b3;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
}

.imagen {
    background-image: url(./img/nyc-4854718_1920.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #7cd0db;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

/*//// Section Fin Contacto///*/