* {
    margin: 0;
}

//Paleta Colores//
$color1: #f5f8f9;
$color2: #25355a;
$color3: #2841b3;
$color4: #f70100;

/*///////// Header Inicio////////*/
header {
    nav {
        background-image: linear-gradient($color2, $color1);
    }
}

.navbar-brand {
    font-size: 23px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    text-shadow: 0px 0px 5px black !important;
}

.navbar-brand span {
    color: $color4;
    text-shadow: 0px 0px 5px $color2 !important;
}

button i {
    font-size: 25px !important;
}

div ul li a {
    font-size: 18px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;

}

.jumbotron {
    box-sizing: border-box;
    background-image: url(./img/nyc-4854718_1920.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 690px;

}

.container h1 {
    font-size: 50px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    text-shadow: 0px 0px 9px black !important;
    color: $color3;
}

.container h1 span {
    color: $color3;
}

.container p {
    font-size: 20px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    text-shadow: 0px 0px 5px black !important;
    color: $color1;
}


/*///////// Header Fin////////*/
/*///////// Main Inicio////////*/
.servicios {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: auto;
}

.servicios div {
    text-align: center;
    border: 1px $color1 solid;
    border-left: none;
    border-right: none;
    padding: 50px;
    background-image: linear-gradient($color3, $color2);
    color: $color1;
}

.servicios div a {
    text-decoration: none;
    color: $color1;
    font-size: 29px;
}

.servicios div:hover {
    transform: scale(1.09);
    transition: all 3s;
}

/*///////// Main Fin////////*/

/*///// section.index inicia/////////*/

.carousel__caja {
    width: 100%;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background-color: $color3;
}

.carousel__titulo {
    padding: 30px;
    width: 100%;
    text-decoration: underline;
    text-align: center;
    background-color: $color1;
    color: $color3;
}

.venta {
    padding: 70px;
    width: 100%;
    text-align: center;
    display: grid;
    border: 2px solid rgb(5, 5, 5);
    background-color: $color2;
}

.venta__titulo {
    letter-spacing: normal;
    color: $color1;
}

.venta__descripcion {
    text-align: initial;
    letter-spacing: normal;
    color: $color1;
}

.valor__propiedad {
    text-decoration: none;
    text-align: center;
    padding: 5px;
    letter-spacing: normal;
    color: $color1;
    background-color: $color3;
    font-size: 15px;
    border-radius: 3px;
}

.valor__propiedad:hover {
    text-decoration: none;
    transition: all 0.3s;
    transform: scale(1.09);
}

.img__carrousel {
    background-position: center;
    background-size: cover;
    border-radius: 5px;

}

.img1 {
    background-image: url(./img/casa1.jpg);
}

.img2 {
    background-image: url(./img/casa2.jpg);
}

.img3 {
    background-image: url(./img/casa3.jpg);
}


/*///// section.index fin/////////*/

/*///////// Footer Inicio////////*/

footer {

    background-image: linear-gradient($color3, $color2);
    color: $color4;
    padding: 30px 0;
    h3 {
        color: $color1;
        font-size: 20px;
        text-align: center;
    }
    p {
        font-size: 12px;
    }
    div ul li a {
        color: $color4;
        font-size: 14px !important;
    }
}

.footerCaja {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly !important;
}

.container p {
    color: $color1;
    font-size: 13px !important;
    text-align: center;
}
.footerSuscribirse {
    padding: 20px;
    p {
        text-align: start;
    }
}

footer input[type="email"] {

    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    text-align: start;
}

footer button[type="submit"] {
    background-color: $color3;
    color: $color4;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 13px;
}

div div p {
    text-align: center;
}

div div div {
    width: 100%;
    height: auto;
    text-align: justify;
    color: $color2;
    display: flex;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 1em !important;

    a .fa-brands {
        color: $color1 !important;
    }

}

/*///////// Footer Fin////////*/

@media only screen and (max-width: 550px) {

    .navbar-brand {
        font-size: 15px !important;
        font-family: Verdana, Geneva, Tahoma, sans-serif !important;
        text-shadow: 0px 0px 5px black !important;
    }

    .container h1 {
        font-size: 30px !important;
        font-family: Verdana, Geneva, Tahoma, sans-serif !important;
        text-shadow: 0px 0px 9px black !important;
        color: $color2;
        span {
            color: black;
        }
    }
    .container p {
        font-size: 15px !important;
        font-family: Verdana, Geneva, Tahoma, sans-serif !important;
        text-shadow: 0px 0px 5px black !important;
        color: $color4;
    }
    .servicios {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: auto;
    }
    .servicios div {
        height: auto;
        text-align: center;
        border: 1px $color4 solid;
        border-left: none;
        border-right: none;
        padding: 50px;
        background-color: $color2;
    }
    .servicios div a {
        text-decoration: none;
        color: $color1;
        font-size: 29px;
    }
    .servicios div:hover {
        transform: scale(1.09);
        transition: all 3s;
    }
    /*///// section.index inicia/////////*/
    .carousel__titulo {
        font-size: 18px;
        padding: 30px;
        width: 100%;
        text-decoration: underline;
        text-align: center;
        background-color: $color1;
        color: $color2;
    }
    .venta {
        padding: 70px;
        width: 100%;
        text-align: center;
        display: grid;
        border: 2px solid rgb(5, 5, 5);
        background-color: $color2;
    }
    .venta__titulo {
        letter-spacing: normal;
        color: $color1;
    }
    .venta__descripcion {
        height: auto;
        font-size: 14px;
        text-align: initial;
        letter-spacing: normal;
        color: $color1;
    }
    .valor__propiedad {
        text-decoration: none;
        text-align: center;
        padding: 5px;
        letter-spacing: normal;
        color: $color1;
        background-color: $color3;
        font-size: 14px;
        border-radius: 3px;
    }
    .valor__propiedad:hover {
        text-decoration: none;
        transition: all 0.3s;
        transform: scale(1.09);
    }
    .img__carrousel {
        height: 300px;
        width: 300px;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        align-items: center;
    }
    /*///////// Footer Inicio////////*/
    footer {
        background-color: $color3;
        color: #fff;
        padding: 30px 0;
        h3 {
            color: #fff;
            font-size: 18px;
            text-align: center;
        }
        p {
            font-size: 12px;
        }
        input[type="email"] {
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            border: none;
            margin-bottom: 10px;
            text-align: start;
        }
        button[type="submit"] {
            background-color: $color3;
            color: $color4;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-size: 13px;
        }
    
    }
    .footerCaja {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        

    }
    footer div ul li a {
        color: $color1;
        font-size: 18px !important;
    }
    .container p {
        color: $color1;
        font-size: 12px !important;
        text-align: center;
    }
    .footerSuscribirse {
        padding: 20px;
        p {
            text-align: start;
        }
    }

    div div p {
        text-align: center;
    }
    div div div {
        width: 100%;
        height: auto;
        text-align: justify;
        color: $color1;
        display: flex;
        justify-content: center;
        font-size: 25px;
        letter-spacing: 1em !important;

    }

    /*///////// Footer Fin////////*/

    /*////Main Nosotros Inicia/////*/
    .containerN {
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        background-color: $color1;
        .img {
            width: 100%;
            background-image: url(./img/equipo.jpg);
            background-position: center;
            background-size: cover;
        }
        .descripcion p {
            width: 100%;
            padding: 20px;
            text-align: center;
            font-size: 12px;
            color: black !important;
            text-shadow: none !important;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .descripcion h3 {
            width: 100%;
            padding: 15px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
        }
    }
    .nuestraMision {
        width: 100%;
        text-align: center;
        h3 {
            width: 100%;
            padding: 20px;
            text-align: center;
            text-decoration: underline;
            color: $color1;
        }
        p {
            padding: 20px;
            margin-left: 10%;
            margin-right: 10%;
        }
    }
    /*////Main Nosotros Fin/////*/
        /*//// Servicios Inicia ///*/
    .servicio__titulo {
        padding: 20px;
        width: 100%;
        font-size: 18px;
        text-align: center;
        text-decoration: underline;
        color: $color1;
        border-bottom: solid 2px $color1;
        background-color: $color2;
    }

    .cajaServicio {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        background-color: $color1;

    }

    .imgAlquiler {
        background-image: none;

    }

    .imgSold {
        background-image: none;
    }

    .imgTasacion {
        background-image: none;

    }


    .descripcionAlquiler {
        // margin-top: 40px;
        width: 100%;
        height: auto;
        padding: 20px;
        background-color: $color1;
        grid-column: 1/2;
        grid-row: 1/2;

    }

    .descripcionSold {
        @extend .descripcionAlquiler 
        grid-column: 1/2;
        grid-row: 2/3;

    }

    .descripcionTasacion {
        @extend .descripcionAlquiler 
        grid-column: 1/2;
        grid-row: 3/4;

    }

    .servicioTexto {
        padding: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .servicioConsulta {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 100%;
        text-decoration: none;
        padding: 10px;
        font-size: 20px;
        border: 2px solid #333;
        text-align: center;
        border-radius: 25px;
        background-color: #000000;
        color: white;
    }

    .servicioConsulta:hover {
        text-decoration: none;
    }

    /*//// Servicios Fin ///*/

    /*//// Section Inicia Contacto///*/
    body {
        background-color: #46a6b3;
    }

    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        font-size: 15px !important;
    }

    .imagen {
        background-image: none
    }

    .form-group {
        margin-bottom: 20px;
        font-size: 13px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 3px;
    }

    button[type="submit"] {
        background-color: #7cd0db;
        color: #ffffff;
        border: none;
        border-radius: 3px;
        padding: 10px 20px;
    }

    /*//// Section Fin Contacto///*/
}

@media only screen and (min-width: 551px) and (max-width: 760px) {

    /*////Main Nosotros Inicia/////*/
    .containerN {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #aad5db;

        .img {
            height: auto;
            width: 100%;
            background-image: url(./img/equipo.jpg);
            background-position: center;
            background-size: cover;
            grid-column: 2/4;
            grid-row: 1/2;
        }

        .descripcion p {
            padding: 20px;
            text-align: center;
            font-size: 15px;
            color: black !important;
            text-shadow: none !important;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .descripcion h3 {
            padding: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
        }
    }

    .nuestraMision {
        width: 100%;
        align-items: center;
        text-align: center;

        h3 {
            width: 100%;
            padding: 20px;
            text-align: center;
            text-decoration: underline;
            color: #007bff;
        }

        p {
            padding: 20px;
            margin-left: 10%;
            margin-right: 10%;
        }
    }


    /*////Main Nosotros Fin/////*/
    /*//// Servicios inicia ///*/

    .servicio__titulo {
        padding: 20px;
        font-size: 25px;
        text-align: center;
        text-decoration: underline;
        color: #17a2b8;
        border-bottom: solid 2px #17a2b8;
        background-color: #c9eff5;
        margin-bottom: 0;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .cajaServicio {
        display: grid;
        grid-template-columns: repeat(2fr 1fr);
        grid-template-rows: repeat(4 1fr);
    }

    .imgAlquiler {
        width: 100%;
        height: auto;
        background-image: url(./img/alquileres.jpg);
        background-position: center;
        background-size: cover;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .imgSold {
        @extend .imgAlquiler background-image: url(./img/ventadeporpiedades.jpg);
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .imgTasacion {
        @extend .imgAlquiler background-image: url(./img/tasaciones.jpg);
        grid-column: 2/3;
        grid-row: 4/5;
    }


    .descripcionAlquiler {
        width: 100%;
        height: auto;
        padding: 20px;
        background-color: $color1;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .descripcionSold {
        @extend .descripcionAlquiler 
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .descripcionTasacion {
        @extend .descripcionAlquiler 
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .servicioTexto {
        padding: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
    }

    .servicioConsulta {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 100%;
        text-decoration: none;
        padding: 10px;
        font-size: 20px;
        border: 2px solid #333;
        text-align: center;
        border-radius: 25px;
        background-color: #000000;
        color: white;
    }

    .servicioConsulta:hover {
        text-decoration: none;
    }
}

@import'__servicios';

@import'__nosotros';

@import'__contacto';